.profile__info {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  max-width: 336px;
  margin: 0 0 0 30px;
}

@media screen and (max-width: 900px) {
  .profile__info {
    margin: 0;
  }
}

@media screen and (max-width: 635px) {
  .profile__info {
    margin: 26px 0 0 0;
  }
}